
.Header{
    background-color: #f0f8ff;

}

.Headersec{
    background: url("https://sudeshresume.netlify.app/static/media/Brick.85c476fa3c2aa4dbe5fd.jpeg");
    background-position: 50%;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

h1{
    display: block;
    font-weight: bold;
    font-size: 50px;
    background: -webkit-image-set("https://i.gifer.com/Vo2o.gif");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    background: -webkit-image-set("https://cdn.dribbble.com/users/8156988/screenshots/16260376/media/d72c6c8fe5a5cded14961afbe4590e2d.gif");
    background-position: 50%;
    font-size: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
}

.Headersec button{
    background: transparent;
}

button{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    line-height: normal;
    text-shadow: none;
    color: white;
}

/*.Headersec h1{
    background: -webkit-image-set("https://i.gifer.com/Vo2o.gif");
    -webkit-background-clip: text;
    background-position: 50%;
    font-size: 50px;
    padding-top: 10px;
}*/

@media screen and (max-width: 1040px) {
    .Headersec{
        background: url("https://sudeshresume.netlify.app/static/media/Brick.85c476fa3c2aa4dbe5fd.jpeg");
        background-position: 50%;
        background-position-y: 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        width: 100%;
    }
}

@media screen and (max-width: 1040px){
    .Headersec h1{
        text-align: center;
        background-color: #fff;
        color: #fff;
        font-size: 45px;
        padding-top: 200px;
    }
}

@media screen and (max-width: 1040px){
    .Headersec h1, .Headersec h2{
        text-align: center;
        color: #fff;
    } 
}

@media screen and (max-width: 1040px){
    .Headersec h2{
        font-size: 30px;
    }
}

@media screen and (max-width: 1040px) {
    .Headersec button {
        border: 1px solid red;
        color: #fff;
        margin-top: 30px;
        padding: 10px;
        text-align: center;
    }
}
@media screen and (max-width:1040px) {
    .Headersec button a{
        text-decoration: none;
        color: #fff;
    }
}

/*
.Headersec{
    font-size: 40px;
    font-weight: bold;
    background: -webkit-image-set("https://i.gifer.com/Vo2o.gif");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.webdev{
    background: -webkit-image-set("https://cdn.dribbble.com/users/8156988/screenshots/16260376/media/d72c6c8fe5a5cded14961afbe4590e2d.gif");
    background-position: 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-weight: bolder;
}

.Header{
    background: url("https://sudeshresume.netlify.app/static/media/Brick.85c476fa3c2aa4dbe5fd.jpeg");
    background-position: 50%;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#headerbtn button a{
    text-decoration: none;
    
}
*/